.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #f2c626;
    border: 1px solid #f2c626;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #2c2a00;
    border-color: #641e03;
}
